@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

$primaryColor: #87ceeb;
$primaryFont: "Work Sans", sans-serif;
$secondaryFont: "Antonio", sans-serif;
$defaultTransition: all 500ms ease;

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
