@import "config";
@import "nav";
@import "hero";
@import "services";
@import "featured";
@import "about";
@import "rooms";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.underline {
  width: 10rem;
  height: 5px;
  background: $primaryColor;
  margin: 1.5rem auto;
}

.error {
  @include flex(center, center);
  flex-direction: column;
  min-height: 50vh;

  h1 {
    font-size: 3.5rem;
    margin: 1.5rem 0;
  }

  a {
    font-size: 2.5rem;
    text-decoration: none;
    background-color: $primaryColor;
    color: #000;
    padding: 15px 35px;
    border-radius: 15px;
    transition: $defaultTransition;

    &:hover {
      font-size: 3rem;
      padding: 25px 45px;
    }
  }
}
